<div>
    <a href="http://www.google.com/friendconnect/"><img border="0" src="http://www.google.com/friendconnect/scs/images/FCbarbrand.png"></a>
    <a href="http://www.google.com/cse/"><img border="0" src="/images/cse.png"></a>
    <a href="http://appengine.google.com/"><img border="0" src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" /></a>
    <a href="http://www.python.org/"><img border="0" src="http://upload.wikimedia.org/wikipedia/en/thumb/0/06/Python_logo.svg/125px-Python_logo.svg.png"></a>
    <script type="text/javascript" src="http://widgets.amung.us/colored.js"></script><script type="text/javascript">WAU_colored('ajthiz32wmw1', 'ffffff808285')</script>
</div>
