<html>
    <head>
        <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
        <title>Taiwan stock Data</title>
        <meta name="description" content="Taiwan stock data">
        <meta name="keywords" content="twse,taiwan,stock,Google App Engine"> 
        <link rel="stylesheet" type="text/css" href="/css/css.css">
    </head>
    <body>
      <div class="cc">
        <div class="desc">{% include 'menu.htm' %} {{ tv.menu }}</div>
        <div class="descr">{{ tv.login }}</div>
      </div>
      <div class="cc top"></div>
      <div align="center" width="100%">
        {{ tv.classname }}
        <table class="rdu">
          <tr>
            <td></td>
            <td></td>
            <td>開盤價</td>
            <td>最高</td>
            <td>最低</td>
            <td>收盤價</td>
            <td>成交量</td>
            <td>漲跌</td>
          </tr>
          {% for i in tv.e %}
          <tr>
            <td><a href="/?q={{ i.no }}">{{ i.no }}</a></td>
            <td><a href="/?q={{ i.no }}">{{ i.name }}</a></td>
            <td align="right">{{ i.open|floatformat:2 }}</td>
            <td align="right">{{ i.h|floatformat:2 }}</td>
            <td align="right">{{ i.l|floatformat:2 }}</td>
            <td align="right">{{ i.c|floatformat:2 }}</td>
            <td align="right">{{ i.value }}</td>
            <td align="right"><font color="{% if i.ranges %}red">{% else %}green">{% endif %}{{ i.range|floatformat:2 }}</font></td>
          </tr>
          {% endfor %}
        </table>
      </div>
      {% include 'h_desc.htm' %}
    </body>
</html>
